extends ../default

block content
    include ../templates/nav
    div.ui.container.grid.stackable
        div.sixteen.wide.column
            h3.ui.header.blue.dividing= 'Products List'
            table.ui.table.celled#tb-products
                thead
                    tr
                        th= 'ID'
                        th= 'Name'
                        th= 'Price'
                        th= 'Stock'
                        th= 'Created at'
                        th= 'Actions'
                tbody
                    each product in products
                        tr
                            td(id='id_product')= product.id_product
                            td= product.name
                            td= product.price
                            td= product.stock
                            td= product.created_at
                            td
                                a.ui.button.basic.icon(href='http://localhost:3000/editproduct/' +product.id_product data-inverted='' data-tooltip='Modificar' data-position='top center')
                                    i.edit.icon
                                a.ui.button.basic.icon(href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='bt-delete')
                                    i.trash.icon
    script(src='javascripts/products.js')




